/*body {
	min-width: 1400px !important;
}*/

.celda-centrada {
	vertical-align: middle !important;
	text-align: center;
}

table a,
table a:hover,
table a:active,
table a:visited {
	text-decoration: underline;
}

.table>tbody>tr>td {
	padding: 5px;
}

.GraphName {
	text-align: center;
	font-size: 23px;
	padding: 17px;
}


@font-face {
	font-family: 'Omnes';
	src: url('../../fonts/omnes-light-webfont.woff2') format('woff2'),
		url('../../fonts/omnes-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OmnesRegular';
	src: url('../../fonts/omnes-regular-webfont.woff2') format('woff2'),
		url('../../fonts/omnes-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OmnesBold';
	src: url('../../fonts/omnes-medium-webfont.woff2') format('woff2'),
		url('../../fonts/omnes-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

.selected {
	padding-left: 50px;
	padding-right: 50px;
	background: #4DD094 !important;
	border-radius: 14px;
	color: white;
	cursor: pointer;
}

.unselected {
	padding-left: 50px;
	padding-right: 50px;
	background: lavender;
	border-radius: 14px;
	color: grey;
	cursor: pointer;
}

body {
	font-family: OmnesBold !important;
}

.score {
	position: absolute;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	font-weight: bolder;
}