.tam-not {
    font-size: 2em;
}

li>a>div {
    flex-grow: 1;
    text-align: left;
    font-size: 14px !important;
}

.dropdownSeen {
    background: white !important;
}

.dropdown-icon:hover {
    color: white !important;
    opacity: 0.8;
}
#todosNotification:hover{
    -webkit-filter: brightness(95%) !important;
    -webkit-transition: all 0.7s ease !important;
    -moz-transition: all 0.7s ease !important;
    -o-transition: all 0.7s ease !important;
    -ms-transition: all 0.7s ease !important;
    transition: all 0.7s ease !important;
}
.dropdown-item:hover{
    -webkit-filter: brightness(95%) !important;
    -webkit-transition: all 0.7s ease !important;
    -moz-transition: all 0.7s ease !important;
    -o-transition: all 0.7s ease !important;
    -ms-transition: all 0.7s ease !important;
    transition: all 0.7s ease !important;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4DD094 !important;
    height: 50px;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dropdown-item {
    color: rgb(128, 128, 128) !important;
}

.dropdown {
    float: right !important;
    display: flex !important;
    justify-content: center !important;
    color: white;
    align-items: center !important;
    height: 60px !important;
    padding: 10px;
}

.dropdown-icon {
    height: 40px !important;
    width: 40px !important;
    float: right !important;
    border-radius: 30px !important;
    margin: 0 !important;
    display: flex !important;
    color: white !important !important;
    background: rgba(0, 0, 0, 0.17);
    justify-content: center;
    align-items: center;
}

.fa-chevron-down {
    width: auto !important;
    margin: 0 !important;
    font-size: 1em !important;
    width: 26px !important;
}

.active>a {
    color: #4DD094 !important;
    background: white !important;
    box-shadow: 0 0 0 !important;
}

ul>li>a {
    transition: 0.5s all !important;
    color: rgb(128, 128, 128) !important;
}

.li-link {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.icony {
    font-size: 1.3em !important;
    width: 30px !important;
}
#ulNav::-webkit-scrollbar {
    width: 0 !important
}

/* Hide scrollbar for IE and Edge */
#ulNav {
    -ms-overflow-style: none;
    height: calc(100vh - 215px);
    overflow-y: scroll;
}
#popNotification {
    height: 20px;
    width: 20px;
    display: none;
    position: absolute;
    margin-left: 13px;
    font-size: 0.9em;
    text-align: center;
    margin-top: -13px;
    border-radius: 20px;
    padding: 1px;
    background: orangered;
}

body {
    background: rgb(241, 241, 241) !important;
}

#panelBar {

    box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.17);
    position: fixed;

}

video {
    width: 387px !important;
}

#botContainer {
    position: fixed;
    bottom: -60px;
    height: 80vh;
    right: 120px;
    width: 500px;
}

.rowNot {
    padding: 12px;
}

.avatar-circle {
    height: 70px;
    width: 70px;
    border-radius: 40px;
    background: gray;
    float: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.avatar {
    width: 40px !important;
}

.dissapear {
    display: none !important;
}